.btn {
  &,
  &:link,
  &:visited {
    height: 5.6rem;
    width: 13rem;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1.25rem;
    font-family: inherit;
    font-size: var(--typo-text-small);
    font-weight: 600;
    line-height: 27px;
    letter-spacing: inherit;
    color: var(--color-black-light);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6rem;
    transition: all 0.3s;
  }

  // &:hover,
  // &:active {
  // }

  &-primary {
    border: 1px solid transparent;

    &:hover,
    &:active {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &-secondary {
    height: 4.5rem;
    width: 21rem;
    border: 2px solid var(--color-gray-light);
    &:hover,
    &:active {
      border: 2px solid var(--color-secondary);
    }
  }

  &-widthAuto {
    width: 100% !important;
  }

  &-tertiary {
    color: #4863ed;
    // text-decoration: underline;
    width: auto;
    height: auto;
    font-weight: 500;
    margin-bottom: -4px;
    margin-left: -5px;
  }

  &-colored {
    color: var(--color-white);
    background: linear-gradient(112.33deg, #fc4d6d 23.89%, #fda02f 94.22%);

    &:hover,
    &:active {
      border-color: #fc4d6d;
    }
  }

  &-transparent {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }
}
